<p id="notice"><%= notice %></p>

<h1>Listing Lists</h1>

<div class="row">
  <div class="col-md-5 col-md-offset-4 sortable">
    <% if @tasks.any? %>
        <%= render partial: 'tasks/task' %>
    <% else %>
    <p>No tasks found <%= link_to "Create Task", new_task_path %></p>
    <% end %>
  </div>
</div>

<%= link_to 'New List', new_list_path %>
