<p id="notice"><%= notice %></p>

<h1>Listing Tasks</h1>

<div class="row">
  <h2>Incomplete tasks</h2>
  <div id="incomplete">
    <div class="col-md-5 col-md-offset-4 sortable">
      <%= render @incomplete %>
    </div>
  </div>
  <h2>Complete tasks</h2>
  <div id="complete">
    <div class="col-md-5 col-md-offset-4 sortable">
      <%= render @complete %>
    </div>
  </div>
</div>

<%= link_to 'New Task', new_task_path, id: "new_link", remote: true %>
