<head>
  <link href='//fonts.googleapis.com/css?family=Nunito:400,700,300' rel='stylesheet' type='text/css'>
  <link href='//fonts.googleapis.com/css?family=Varela+Round' rel='stylesheet' type='text/css'>
</head>

<h1>New Task</h1>

<%= render 'form' %>

<%= link_to 'Back', tasks_path %>
