/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *= require_tree .
 *= require_self
 */
 @import "bourbon";

 body {
   background-color: #FFFF7B;
 }

 .checkout {
   padding: 2px;
   border-top: red solid 2px;
   border-radius: 3px;
   color: #575852;
   font-weight: 900;
   background-color: #FF7B7B;
   box-shadow: inset 0px 18px 0px 0px           #FF4C4C,
   inset 0 0 1px white, 0 2px 8px darken(white, 10%);
   }

 h1 {
     margin: 0;
     font-family: 'Nunito', sans-serif;
     line-height: 1.5em;
   }

 h2, h3, p, a {
      margin: 0;
      font-family: 'Varela Round', sans-serif;
      line-height: 1.5em;
    }

 input {
   font-family: 'Varela Round', sans-serif;
 }

 .flex-boxes {
   $base-border-radius: 3px !default;
   $base-background-color: white;
   $dark-gray: #333 !default;
   $light-gray: #DDD !default;
   $base-font-color: $dark-gray !default;
   $flex-box-border-color: white;
   $flex-box-border: 1px solid $flex-box-border-color;
   $flex-box-background: lighten($light-gray, 10%);
   $flex-box-gutter: 0.4em;
   $flex-box-width: 18em;
   $flex-box-color: transparentize($base-font-color, 0.3);
   $flex-box-top-colors:
     #55FF1F,
     #72BFBF,
     #57FE22,
     #E3D743,
     #CCC,
     #F6C05C;

     @include clearfix;
     @include justify-content(center);
     @include align-items(stretch);
     @include flex-wrap(wrap);
     clear: both;
     text-align: center;

   .flex-box {
     @include transition (all 0.2s ease-in-out);
     @include flex(2 2 15em);
     @include align-self(stretch);
     background: #9BFF7B;
     border-radius: $base-border-radius;
     box-shadow: inset 0 0 1px $flex-box-border-color, 0 2px 8px darken($base-background-color, 10%);
     display: block;
     margin: $flex-box-gutter;
     padding: 2em 2em 3em 2em;
     text-decoration: none;

     @for $i from 1 to 7 {
 // assign colors from $flex-box-top-colors list
       &:nth-child(#{$i}) {
         $color-from-list: nth($flex-box-top-colors, $i);
         border-top: 6px solid $color-from-list;

         &:focus,
         &:hover {
           background-color: transparentize($color-from-list, 0.2);
         }
       }
     }

     img {
       display: block;
       height: 3em;
       margin: 0 auto 1em;
       opacity: 0.4;
     }

     .flex-title {
       color: $flex-box-color;
       font-size: 1.2em;
       margin-bottom: 0.5em;
     }

     p {
       color: transparentize($flex-box-color, 0.1);
       line-height: 1.5em;
       margin: auto;
     }

     p.da {
       color: transparentize($flex-box-color, 0.3);
       line-height: 1.5em;
       margin: auto;
       font-size: 0.8em;
     }
   }

   .flex-box-big {
     @include flex(1 1 40em);
   }
 }
